<h1>Create new user...</h1>
<br>
<hr>
<%= @user.errors.full_messages.first if @user.errors.any? %>
<hr>
<br>
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
   <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
   <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
   <%= f.submit 'Sign Up' %>
<% end %>
